{% include "NGAS/header.html" %}

<h2>NGAST Disks Directory</h2>
Directory to interface with the disks table
<h3>What do you want to do?</h3>
    
<ul>
	<dt><a href="/NGAS/disks/query/all/">View All Disk Entries</a></dt>
	<dd>Displays ALL disk entries from the ngas_disks table.</dd>
	<dt><a href="/NGAS/disks/query/">Query Disk Table</a></dt>
	<dd>Use a number of preformetted queries via User-Interfaces.</dd>
	<dt><a href="/NGAS/home/">Home</a></dt>
	<dd>Return to the Home Page</dd>
</ul>

{% include "NGAS/footer.html" %}