{% include "NGAS/header.html" %}

<h2>NGAS update disk status</h2>

Enter the new Status/mount_point of {{ disk.logical_name }} with disk_id: {{ disk.disk_id }}
<form action="/NGAS/disks/query/status/update/submit/" method="post">
{% csrf_token %}
New Status: <input type="text" name="mount_point" value="{{ disk.mount_point }}">
<input type="SUBMIT" name="SUBMIT" value="Submit Query">
<input type="hidden" name="disk_id" value="{{ disk.disk_id }}">
</form>

<a href="/NGAS/disks/">Disk Directory</a>
<br/><a href="/NGAS/home/">Home</a>
	
{% include "NGAS/footer.html" %}