{% include "NGAS/header.html" %}

<form action="/NGAS/files/query/opt2/page1/" method="post">
{% csrf_token %}
Enter the date range to retrieve files for in format YYYY-MM-DD<br/>
<table>
	<tr>
		<td>Start date:</td>
		<td><input type="text" name="start_date" value="{{ prev_date }}"/><td/>
	</tr>
	<tr>
		<td>End date:</td>
		<td><input type="text" name="end_date" value="{{ cur_date }}"/><td/>
	</tr>
	<tr>
		<td>File id:</td>
		<td><input type="text" name="file_id" value="%"/><td/>
	</tr>
</table>
<p style="text-indent:50px;"><input type="submit" value="Search" /><p/>
</form>
<p><a href="/NGAS/files/">File Directory</a><br/>
<a href="/NGAS/home/">Home</a></p>
	
{% include "NGAS/footer.html" %}