{% include "NGAS/header.html" %}

<form action="/NGAS/files/query/opt6/display/?page=1" method="post">
{% csrf_token %}
<h2>NGAS Insert Statistics</h2>
This interface allows to enter a minimum date and a maximum date and retrieve the
number of distinct frames and the corresponding amount of GB of data archived during that period.

The default period is always the last night.
<p>
<b>NOTE:</b>The dates are treated as UTC nights, i.e. between&lt;minDate&gt; 12:00 and &lt;maxDate&gt; 12:00.
</p>
<br>
<table>
	<tr>
		<td>Start date:</td>
		<td><input type="text" name="start_date" value="{{ prev_date }}"/><td/>
	</tr>
	<tr>
		<td>End date:</td>
		<td><input type="text" name="end_date" value="{{ cur_date }}"/><td/>
	</tr>
</table>
<p style="text-indent:50px;"><input type="submit" value="Search" /><p/>
</form>
<p><a href="/NGAS/files/">File Directory</a><br/>
<a href="/NGAS/home/">Home</a></p>
	
{% include "NGAS/footer.html" %}