{% include "NGAS/header.html" %}

<table>
	<tr bgcolor="#AAAAAA">
		<th align="left">File ID</th>
		<td>{{ file.file_id }}</td>
	</tr>
	<tr>
		<th align="left">File Name</th>
		<td>{{ file.file_name }}</td>
	</tr>
	<tr>
		<th align="left">Version</th>
		<td>{{ file.file_version }}</td>
	</tr>
	<tr>
		<th align="left">File Size</th>
		<td>{{ file.file_size }}</td>
	</tr>
	<tr>
		<th align="left">Uncompressed file size</th>
		<td>{{ file.uncompressed_file_size }}</td>
	</tr>
	<tr>
		<th align="left">Mime type</th>
		<td>{{ file.format }}</td>
	</tr>
	<tr>
		<th align="left">Compression used</th>
		<td>{% if file.compression = '' %}None{% else %}{{ file.compression }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Ignore Flag</th>
		<td>{% if file.file_ignore = '' %}None{% else %}{{ file.file_ignore }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">File status</th>
		<td>{{ file.file_status }}</td>
	</tr>
	<tr>
		<th align="left">Checksum</th>
		<td>{% if file.checksum = '' %}None{% else %}{{ file.checksum }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Checksum routine used</th>
		<td>{% if file.checksum_plugin = '' %}None{% else %}{{ file.checksum_plugin }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Ingestion date</th>
		<td>{{ file.ingestion_date }}</td>
	</tr>
	<tr>
		<th align="left">Creation Date</th>
		<td>{% if file.creation_date = '' %}None{% else %}{{ file.creation_date }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Disk ID</th>
		<td><a href="/NGAS/disks/details/{{ file.disk_id }}/">{{ file.disk_id }}</a></td>
	</tr>
</table>


<br/><a href="/NGAS/files/">File Directory</a>
<br/><a href="/NGAS/home/">Home</a>
	
{% include "NGAS/footer.html" %}