{% include "NGAS/header.html" %}

This page shows the amount of GB of data archived between {{ start_date }} and {{ end_date }}:

<center>
	<table border="">
		<tbody>
			<tr>
				<th bgcolor="#cccccc">Gigabytes</th>
				<th bgcolor="#cccccc">Files</th>
			</tr>
			<tr>
				<td align="center">{{total|floatformat:2}}</td>
				<td align="center">{{numFiles}}</td>
			</tr>
		</tbody>
	</table>
</center>

From the following files:<br/>
Number of files: {{ results.paginator.count }}<br/>

{% if results %}
    <table border="">
		<tr>
			<th>File ID</th>
			<th>File Name</th>
			<th>Version</th>
			<th>Ingestion Date</th>
			<th>File Size</th>
			<th>File Status</th>
			<th>Disk ID</th>
		</tr>
		{% for file in results %}
			<tr>
				<td><a href="/NGAS/files/details/{{ file.id }}/">{{ file.file_id }}</a></td>
				<td>{{file.file_name}}</td>
				<td>{{file.file_version}}</td>
				<td>{{file.ingestion_date}}</td>
				<td>{{file.file_size}}</td>
				<td>{{file.file_status}}</td>
				<td><a href="/NGAS/disks/details/{{file.disk_id.disk_id}}/">{{file.disk_id.disk_id}}</td>
			<tr>
		{% endfor %}
	</table><br/>
{% else %}
    <p><b>No results exist!</b></p>
{% endif %}

<div class="pagination">
    <span class="step-links">
		{% if results.has_previous %}
            <a href="{{ urlstring }}&page={{ results.previous_page_number }}">Previous Page</a>
        {% endif %}
		
		<span class="current">
			[Page {{ results.number }} of {{ results.paginator.num_pages }}]
		</span>
		
        {% if results.has_next %}
            <a href="{{ urlstring }}&page={{ results.next_page_number }}">Next Page</a>
        {% endif %}
    </span>
</div>


<br/><a href="/NGAS/files/">File Directory</a>
<br/><a href="/NGAS/home/">Home</a>

{% include "NGAS/footer.html" %}