{% include "NGAS/header.html" %}

<h2>NGAST Files Directory</h2>
Directory to interface with the files table
<h3>What do you want to do?</h3>
    
<ul>
	<dt><a href="/NGAS/files/query/all/page1/">View All File Entries</a></dt>
	<dd>Displays ALL file entries from the ngas_files table.</dd>
	<dt><a href="/NGAS/files/query/">Query File Table</a></dt>
	<dd>Use a number of preformetted queries via User-Interfaces.</dd>
	<dt><a href="/NGAS/home/">Home</a></dt>
	<dd>Return to the Home Page</dd>
</ul>

{% include "NGAS/footer.html" %}