{% include "NGAS/header.html" %}

<table>
	<tr bgcolor="#AAAAAA">
		<th align="left">Host ID</th>
		<td>{{ host.host_id }}</td>
	</tr>
	<tr>
		<th align="left">Srv port</th>
		<td>{{ host.srv_port }}</td>
	</tr>
	<tr>
		<th align="left">Domain</th>
		<td>{{ host.domain }}</td>
	</tr>
	<tr>
		<th align="left">IP address</th>
		<td>{{ host.ip_address }}</td>
	</tr>
	<tr>
		<th align="left">Mac address</th>
		<td>{% if host.mac_address = '' %}None{% else %}{{ host.mac_address }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">N slots</th>
		<td>{% if host.n_slots = '' %}None{% else %}{{ host.n_slots }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Cluster name</th>
		<td>{% if host.cluster_name = '' %}None{% else %}{{ host.cluster_name }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Installation date</th>
		<td>{% if host.installation_date = '' %}None{% else %}{{ host.installation_date }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Srv version</th>
		<td>{% if host.srv_version = '' %}None{% else %}{{ host.srv_version }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Srv archive</th>
		<td>{% if host.srv_archive = '' %}None{% else %}{{ host.srv_archive }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Srv retrieve</th>
		<td>{% if host.srv_retrieve = '' %}None{% else %}{{ host.srv_retrieve }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Srv process</th>
		<td>{% if host.srv_process = '' %}None{% else %}{{ host.srv_process }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Srv remove</th>
		<td>{% if host.srv_remove = '' %}None{% else %}{{ host.srv_remove }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Srv state</th>
		<td>{% if host.srv_state = '' %}None{% else %}{{ host.srv_state }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Srv data checking</th>
		<td>{% if host.srv_data_checking = '' %}None{% else %}{{ host.srv_data_checking }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Srv check start</th>
		<td>{% if host.srv_check_start = '' %}None{% else %}{{ host.srv_check_start }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Srv check remain</th>
		<td>{% if host.srv_check_remain = '' %}None{% else %}{{ host.srv_check_remain }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Srv check end</th>
		<td>{% if host.srv_check_end = '' %}None{% else %}{{ host.srv_check_end }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Srv check rate</th>
		<td>{% if host.srv_check_rate = '' %}None{% else %}{{ host.srv_check_rate }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Srv check mb</th>
		<td>{% if host.srv_check_mb = '' %}None{% else %}{{ host.srv_check_mb }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Srv checked mb</th>
		<td>{% if host.srv_checked_mb = '' %}None{% else %}{{ host.srv_checked_mb }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Srv check files</th>
		<td>{% if host.srv_check_files = '' %}None{% else %}{{ host.srv_check_files }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Srv check count</th>
		<td>{% if host.srv_check_count = '' %}None{% else %}{{ host.srv_check_count }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Srv suspended</th>
		<td>{% if host.srv_suspended = '' %}None{% else %}{{ host.srv_suspended }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Srv req wake up srv</th>
		<td>{% if host.srv_req_wake_up_srv = '' %}None{% else %}{{ host.srv_req_wake_up_srv }}{% endif %}</td>
	</tr>
	<tr>
		<th align="left">Srv req wake up time</th>
		<td>{% if host.srv_req_wake_up_time = '' %}None{% else %}{{ host.srv_req_wake_up_time }}{% endif %}</td>
	</tr>
</table>
<a href="/NGAS/hosts/">Host Directory</a>
<br/><a href="/NGAS/home/">Home</a>
	
{% include "NGAS/footer.html" %}