{% include "NGAS/header.html" %}

<h2>NGAST Hosts Directory</h2>
Directory to interface with the hosts table
<h3>What do you want to do?</h3>
    
<ul>
	<dt><a href="/NGAS/hosts/query/all/page1/">View All Host Entries</a></dt>
	<dd>Displays ALL host entries from the ngas_hosts table.</dd>
	<dt><a href="/NGAS/hosts/query/">Query Host Table</a></dt>
	<dd>Use a number of preformetted queries via User-Interfaces.</dd>
	<dt><a href="/NGAS/home/">Home</a></dt>
	<dd>Return to the Home Page</dd>
</ul>

{% include "NGAS/footer.html" %}