{% include "NGAS/header.html" %}

<h3>Queries:</h3>
<form action="/NGAS/hosts/query/opt1/page1/" method="post">
{% csrf_token %}
host_id: <input type="text" name="host_id" />
On Port: <input type="text" name="port_num" /><input type="submit" value="Query" />
</form>
<p><a href="/NGAS/hosts/query/opt2/page1/">Get Suspended Hosts</a></p>
<form action="/NGAS/hosts/query/opt3/page1/" method="post">
{% csrf_token %}
host_id starts with: <input type="text" name="host_id" /><input type="submit" value="Query" />
</form>
<form action="/NGAS/hosts/query/opt4/page1/" method="post">
{% csrf_token %}
With IP Address: &nbsp; <input type="text" name="ip_add" /><input type="submit" value="Query" />
</form>
<form action="/NGAS/hosts/query/opt5/page1/" method="post">
{% csrf_token %}
On Port: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="text" name="port_num" /><input type="submit" value="Query" />
</form>
<form action="/NGAS/hosts/query/opt6/page1/" method="post">
{% csrf_token %}
With cluster name: <input type="text" name="cluster" /><input type="submit" value="Query" />
</form>
    


<li><a href="/NGAS/hosts/query/all/page1/">View All Host Entries</a></li>
<li><a href="/NGAS/home/">Home</a></li>

{% include "NGAS/footer.html" %}